.dashboard-interaction-page {

    .statistics {
        .ant-card.ant-card-bordered {
            box-shadow: 0px 2px 3px 1px #ccc;
            border-radius: 10px;
            margin: 0 0 20px 0;
            .ant-typography{
                margin: 0;
                color: rgb(93, 109, 139);
            }
            svg{
                fill: rgb(13, 57, 145);
            }
        }
    }
    
    .ant-page-header.generic-page-header {

        .ant-page-header-heading-extra {
            span.ant-tag.contact-type {
                font-size: 18px;
                padding: 5px 10px;
                border-radius: 10px;
                background: #fffce4;
                border: solid 1px #fde100;
            }
        }
    }


    .ant-tabs-nav {
        margin: 0;

        .ant-tabs-nav-list {
            .ant-tabs-tab-btn {
                font-size: 20px !important;
            }
        }
    }

    .ant-tabs-content-holder {
        background-color: #fff;
        border: solid 1px #ddd;
        padding: 10px 20px;
    }


    .ant-collapse.ant-collapse-icon-position-start.ant-collapse-ghost {
        .ant-collapse-item {
            .ant-collapse-header {
                font-size: 20px;
                color: #565656;
            }
        }
    }




    div#customerprofiles-container {
        iframe {
            width: 100% !important;
            height: 1000px;
            border: solid 0px #ccc;
        }
    }
}